
.heading{
    margin: 1rem;
}
.label {
    text-align: left;
}


.loginForm{
    border: black solid 2px;
    width:50%;
    padding: 10px;
    margin: 100px 20%;
}

.loginBtn{
    background-color: #5b5b5b;
    border: none;
}