// .formContainer {
//     width: 40vw;
//     // position: fixed;
//     // left: 298px;
//     // top: 100px;
// }

// .container {
//     display: flex;
//     justify-content: center;
//     padding-top: 70px;
// }

.label {
    text-align: left;
}


.loginForm{
    border: black solid 2px;
    width:80%;
    // display: flex;
    // justify-content: center;
    padding: 10px;
    margin: 30px;
}